services:
  - type: web
    name: sitoform25
    repo: https://github.com/sunotis/sitoform
    env: node
    buildCommand: npm cache clean --force && npm ci
    startCommand: npm start
    headers:
      - path: /*
        headers:
          - name: Content-Security-Policy
            value: default-src 'self'; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://sitoform.com https://via.placeholder.com blob:; connect-src 'self' https://sitoform25.onrender.com https://ydfkrwjafnuvdvezpkcp.supabase.co
